* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  border: none;
  transition: all 0.3s;
  list-style: none;
  text-decoration: none;
  outline: none;
  font-family: "Poppins";
}

@font-face {
  font-family: "Poppins";
  src: url("../typography/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}
.important-text {
  color: #0b00e0;
}

.bold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

hr {
  width: 100%;
  height: 1px;
  background-color: white;
}

.hidden {
  display: none;
}

.shown {
  display: flex;
  opacity: 1;
}

.btn {
  padding: 0.6rem 1.4rem;
  border-radius: 8px;
  background: #0b00e0;
  border: solid 2px #0b00e0;
  font-size: 0.8rem;
  cursor: pointer;
  width: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
  box-shadow: 0 2px 12px #0f0f0f;
}
.btn:hover {
  opacity: 0.6;
}
.btn:active {
  transform: scale(0.9);
}

.ghost-btn {
  background: transparent;
  border: solid 2px white;
  color: white;
  box-shadow: none;
}
.ghost-btn:hover {
  background-color: white;
  opacity: 1;
  color: black;
}

.warning-text {
  color: red;
}

body {
  background-color: black;
  background-image: url(../assets/background.png);
  backdrop-filter: blur(30px) brightness(0.7);
}

.body-container {
  padding: 1rem;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  color: white;
  gap: 50px;
}

.card {
  box-shadow: 0 2px 12px #0f0f0f;
  padding: 1rem;
  background: linear-gradient(to bottom, #0b00e0, rgba(11, 0, 224, 0.6));
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

a {
  color: #add6ff;
}

.navbar {
  position: sticky;
  padding-inline: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0px;
  width: 100%;
  z-index: 1000;
}

.navbar-icon {
  width: 50px;
}

.navbar-links {
  text-shadow: 0px 4px 4px rgba(11, 0, 224, 0.25);
  display: none;
}

.navbar-btn {
  display: none;
}

.sidebar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 900px;
  transform: translateX(-200%);
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.95);
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  z-index: -1;
}

.sidebar-link {
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 5px;
  color: white;
  text-shadow: 0px 4px 4px rgba(11, 0, 224, 0.25);
  font-size: 1.5rem;
}
.sidebar-link:hover {
  color: #0b00e0;
}

.toggle-btn {
  background: none;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
  width: 25px;
  height: 20px;
}
.toggle-btn .line {
  transition: transform 0.4s ease, opacity 0.2s ease;
  height: 2px;
  width: 100%;
  background-color: #0b00e0;
  border-radius: 2px;
}
.toggle-btn.toggled .line:first-child {
  transform: rotate(45deg) translate(5px, 5px);
}
.toggle-btn.toggled .line:last-child {
  transform: rotate(-45deg) translate(5px, -5px);
}
.toggle-btn.toggled .line:nth-child(2) {
  opacity: 0;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.hero-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero-img {
  width: 100%;
}

.cta-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.services-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

.path {
  display: none;
}

.services-info {
  margin-top: 20px;
}

.pricing-info {
  margin-bottom: 2rem;
}

.pricing-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: stretch;
}

.popular-tag {
  position: absolute;
  top: 15px;
  font-size: 0.8rem;
  text-transform: uppercase;
  border: solid 1px #add6ff;
  padding: 2px 15px;
  border-radius: 50px;
  color: #add6ff;
  max-width: fit-content;
  align-self: flex-end;
}

.pricing-card {
  position: relative;
  border-radius: 10px;
}
.pricing-card .card-title {
  font-size: 2rem;
  margin-top: 20px;
}
.pricing-card .card-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.pricing-card-info {
  color: #add6ff;
}

.our-work-section {
  display: grid;
  grid-template-columns: 1fr;
}

.our-work-title {
  margin-top: 15px;
}

.our-work-img {
  width: 100%;
  max-width: 500px;
  border-radius: 20px;
}

.our-work-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  text-align: center;
  gap: 10px;
}

.our-work-item {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 1rem;
  width: 100%;
}
.our-work-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.why-us-section {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.why-us-cards {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 15px;
}

.why-us-title {
  text-align: center;
}

.why-us-card {
  width: 100%;
}

.contact-form {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
}
.contact-form .btn {
  border-radius: 12px;
  margin-top: 15px;
}

.form-input {
  padding: 12px;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  width: 100%;
  overflow: auto;
  resize: none;
}

.form-input-title {
  margin-top: 15px;
}

.form-title {
  font-size: 1.8rem;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: white;
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.social-area {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer-area {
  display: flex;
  flex-direction: column;
}

.social-title {
  text-transform: uppercase;
}

.company-link {
  text-transform: capitalize;
}

.copyright-area {
  color: #add6ff;
}

.social-link {
  width: 50px;
}

@media screen and (min-width: 700px) {
  .toggle-btn {
    display: none;
  }
  .navbar-icon {
    width: 60px;
  }
  .navbar-links {
    display: flex;
    gap: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    align-items: center;
  }
  .navbar-links p {
    color: white;
  }
  .navbar-links p:hover {
    color: #0b00e0;
  }
  .navbar-links img {
    width: 20px;
  }
  .navbar-links .btn {
    text-transform: uppercase;
  }
  .navbar-link {
    padding: 0.5rem;
    padding-inline: 1rem;
    display: flex;
    gap: 10px;
    border-radius: 100vh;
  }
  .navbar-btn {
    display: flex;
  }
  .hero {
    flex-direction: row;
    gap: 0;
    margin-top: 2rem;
  }
  .cta-section {
    flex-direction: row;
  }
  .hero-title {
    font-size: 2.6rem;
  }
  .hero-img {
    max-width: 550px;
  }
  .services-section {
    display: flex;
    width: 100%;
    gap: 15px;
  }
  .services-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 600px;
  }
  .path {
    display: flex;
  }
  .services-info {
    margin-top: 0px;
  }
  .pricing-section {
    display: flex;
    flex-direction: column;
  }
  .pricing-header {
    display: flex;
    align-items: flex-start;
  }
  .pricing-header .path {
    max-width: 35%;
  }
  .pricing-info {
    max-width: 445px;
  }
  .pricing-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    place-self: end;
  }
  .pricing-card {
    max-width: 400px;
    background-color: #0b00e0;
  }
  .pricing-card:first-child {
    transform: rotateZ(-3deg) translateX(15px);
  }
  .pricing-card:nth-child(2) {
    z-index: 1;
    transform: translateY(-15px);
  }
  .pricing-card:last-child {
    transform: rotateZ(3deg) translateX(-15px);
  }
  .our-work-section {
    display: flex;
    justify-content: space-around;
  }
  .why-us-section {
    flex-direction: row;
    gap: 5px;
  }
  .why-us-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1rem;
    border-radius: 15px;
    max-height: 650px;
  }
  .why-us-title {
    margin-top: 10%;
  }
  .why-us-card:nth-child(1) {
    grid-column: 2;
    grid-row: 1;
  }
  .why-us-card:nth-child(2) {
    grid-column: 1;
    grid-row: 1;
  }
  .why-us-card:nth-child(3) {
    grid-column: 3;
    grid-row: 1;
  }
  .why-us-card:nth-child(4) {
    grid-column: 1;
    grid-row: 3;
  }
  .why-us-card:nth-child(5) {
    grid-column: 2;
    grid-row: 2;
  }
  .why-us-card:nth-child(6) {
    grid-column: 3;
    grid-row: 3;
  }
  .footer {
    text-align: left;
  }
  .social-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .copyright-area {
    display: flex;
    gap: 100px;
  }
}
.ocean {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  z-index: -1;
  opacity: 0.5;
  filter: blur(5px);
}

.wave {
  animation: moveWave ease-in-out infinite;
  position: absolute;
}

.wave1 {
  animation-duration: 20s;
}

.wave2 {
  animation-duration: 22s;
}

.wave3 {
  animation-duration: 24s;
}

@keyframes moveWave {
  0% {
    transform: translateX(-50%) translateY(0%) scale(2.5);
  }
  40% {
    transform: translateX(50%) translateY(5%) scale(2);
  }
  60% {
    transform: translateX(0%) translateY(10%) scale(3);
  }
  100% {
    transform: translateX(-50%) translateY(0%) scale(2.5);
  }
}

/*# sourceMappingURL=style.css.map */
