@import "_reset";

// Nav Bar
.navbar {
	padding-block: 0.5rem;
	padding-inline: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0px;
	width: 100%;
	z-index: 1000;
}
.navbar-icon {
	width: 50px;
}
.navbar-links {
	text-shadow: 0px 4px 4px rgba(11, 0, 224, 0.25);
	display: none;
}
.navbar-btn {
	display: none;
}
.sidebar {
	top: 0px;
	backdrop-filter: brightness(0.1);
	display: flex;
	position: fixed;
	width: 100%;
	height: 100%;
	max-height: 900px;
	transform: translateX(-200%);
	padding: 1rem;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	text-transform: uppercase;
	letter-spacing: 3px;
	z-index: 1;
}
.sidebar-link {
	display: flex;
	gap: 10px;
	align-items: center;
	border-radius: 5px;
	color: white;
	text-shadow: 0px 4px 4px rgba(11, 0, 224, 0.25);

	&:hover {
		color: $primary-color;
	}
}

.toggle-btn {
	background: none;
	display: flex;
	cursor: pointer;
	flex-direction: column;
	justify-content: space-around;
	width: 25px;
	height: 20px;

	.line {
		transition: transform 0.4s ease, opacity 0.2s ease;
		height: 2px;
		width: 100%;
		background-color: $primary-color;
		border-radius: 2px;
	}

	&.toggled {
		.line:first-child {
			transform: rotate(45deg) translate(5px, 5px);
		}

		.line:last-child {
			transform: rotate(-45deg) translate(5px, -5px);
		}

		.line:nth-child(2) {
			opacity: 0;
		}
	}
}
// hero
.hero {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.hero-info {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.hero-img {
	width: 100%;
}
.cta-section {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

// services
.services-cards {
	display: grid;
	grid-template-columns: 1fr;
	gap: 15px;
}
.services-arrow {
	display: none;
}
.services-info {
	margin-top: 20px;
}
// pricing
.pricing-info {
	margin-bottom: 2rem;
}
.pricing-cards {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: stretch;
}
.popular-tag {
	position: absolute;
	top: 15px;
	font-size: 0.8rem;
	text-transform: uppercase;
	border: solid 1px $secondary-color;
	padding: 2px 15px;
	border-radius: 50px;
	color: $secondary-color;
	max-width: fit-content;
	align-self: flex-end;
}
.pricing-card {
	position: relative;
	border-radius: 10px;
	.card-title {
		font-size: 2rem;
		margin-top: 20px;
	}
	.card-content {
		display: flex;
		flex-direction: column;
		gap: 25px;
	}
}
.pricing-card-info {
	color: $secondary-color;
}
// our-work
.our-work-section {
	display: grid;
	grid-template-columns: 1fr;
}
.our-work-title {
	margin-top: 15px;
}
.our-work-img {
	width: 100%;
	max-width: 400px;
	border-radius: 20px;
}
.our-work-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
	text-align: center;
	gap: 10px;
}
.our-work-item {
	background-color: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
	border-radius: 10px;
	padding: 1rem;
	width: 100%;

	&:hover {
		background-color: rgba(255, 255, 255, 0.3);
	}
}

// why-us
.why-us-cards {
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	gap: 30px;
}
.why-us-title {
	text-align: center;
}
.why-us-card {
	width: 100%;
}

// Footer
.footer {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	color: white;
	max-width: 1100px;
	margin: auto;
	text-align: center;
}
.social-area {
	display: flex;
	flex-direction: column;
	gap: 25px;
}
.footer-area {
	display: flex;
	flex-direction: column;
}
.social-title {
	text-transform: uppercase;
}
.company-link {
	text-transform: capitalize;
}
.copyright-area {
	color: $secondary-color;
}
.social-link {
	width: 50px;
}
//Desktop
@media screen and (min-width: 700px) {
	.toggle-btn {
		display: none;
	}
	.navbar {
		justify-content: space-around;
	}
	.navbar-icon {
		width: 60px;
	}
	.navbar-links {
		display: flex;
		gap: 2rem;
		letter-spacing: 2px;
		text-transform: uppercase;
		align-items: center;

		p {
			color: white;
			&:hover {
				color: $primary-color;
			}
		}
		img {
			width: 20px;
		}
		.btn {
			border-radius: 100vh;
			text-transform: uppercase;
		}
	}
	.navbar-link {
		padding: 0.5rem;
		padding-inline: 1rem;

		display: flex;
		gap: 10px;
		border-radius: 100vh;
	}
	.navbar-btn {
		display: flex;
	}

	// hero
	.hero {
		flex-direction: row;
		gap: 0;
		margin-top: 2rem;
	}
	.cta-section {
		flex-direction: row;
	}
	.hero-title {
		font-size: 2.6rem;
	}
	.hero-img {
		max-width: 550px;
	}

	//services
	.services-section {
		display: flex;
		width: 100%;
		justify-content: left;
		gap: 15px;
	}
	.services-cards {
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
		max-width: 600px;
	}
	.services-arrow {
		display: flex;
	}
	.services-info {
		margin-top: 0px;
	}

	// pricing
	.pricing-section {
		display: flex;
		flex-direction: column;
	}
	.pricing-info {
		max-width: 445px;
	}
	.pricing-cards {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		width: 90%;
		place-self: end;
	}
	.pricing-card {
		max-width: 400px;
		&:first-child {
			transform: rotateZ(-3deg) translateX(15px);
		}
		&:nth-child(2) {
			z-index: 1;
			transform: translateY(-15px);
		}
		&:last-child {
			transform: rotateZ(3deg) translateX(-15px);
		}
	}

	// our-work
	.our-work-section {
		display: flex;
		justify-content: space-around;
	}

	// why-us
	.why-us-cards {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr);
		gap: 0;
		background: #0e0d0d;
		padding: 1.5rem 0rem;
		border-radius: 15px;
	}
	.why-us-title {
		margin-top: 10%;
	}
	.why-us-card {
		margin: -10px;
		width: 90%;

		&:nth-child(1) {
			grid-column: 2;
			grid-row: 1;
		}
		&:nth-child(2) {
			grid-column: 1;
			grid-row: 1;
		}
		&:nth-child(3) {
			grid-column: 3;
			grid-row: 1;
		}
		&:nth-child(4) {
			grid-column: 1;
			grid-row: 3;
		}
		&:nth-child(5) {
			grid-column: 2;
			grid-row: 2;
		}
		&:nth-child(6) {
			grid-column: 3;
			grid-row: 3;
		}
	}

	// Footer
	.footer {
		text-align: left;
	}
	.social-area {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
	.copyright-area {
		display: flex;
		gap: 100px;
	}
}
